@font-face {
  font-family: 'Press Start 2P';
  src: url('../resources/fonts/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
  font-display: swap;
  /*este atributo:valor aseguran que se muestre el texto mientras cargan las fuentes, de otra manera el texto aparece "invisible"*/
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: 'Press Start 2P', monospace;
  text-align: center;
  background-color: pink;
}
h1 {
  font-size: 2rem;
  margin: 60px auto;
}

p {
  margin-bottom: 60px;
  line-height: 1.7rem;
}

details {
  margin-bottom: 30px;
  line-height: 1.7rem;
}

summary {
  font-size: 1.3rem;
}
